.section__container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--theme, transparent);
    opacity: var(--opacity, 100);
    flex-direction: var(--direction, column);
    gap: 15px;
}

@media (max-width: 900px) {
    .section__container {
        flex-direction: column;
        text-align: center;
    }

    .section__container > * {
        transform: scale(0.9);
    }
}