.image__container {
    padding: 10px;
    border: 10px solid #003f82;
}

.about__image {
    aspect-ratio: 8 / 10;
    max-width: 100%;
}

@media (max-width: 900px) {
    .image__container {
        transform: scale(0.7);
    }
}