.footer__container {
    height: 50vh;
    width: 100%;
    background: #333;
    padding: 50px;
    display: grid;
    box-sizing: border-box;
    justify-items: center;
    align-items: start;
    grid-template-columns: repeat(7, 1fr);
}

.footer__item {
    width: 70px;
    grid-column: 7;
    border-radius: 40px;
}

@media (max-width:480px) {
    .footer__container {
        overflow: hidden;
        padding: 0;
    }
}