* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #f5f5f5;
    background: url('/images/backgroundMain.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}